@font-face {
    font-family: "calculadora";
    src: url("Calculator.ttf") format("truetype");
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    position: relative;
    height: 100vh;
    background: radial-gradient( red, rgb(87, 17, 17), black) ;
}

.cabecalho{
    border-radius: 10px;
    margin: 0 2rem;
    background-color: rgba(82, 26, 26, 0.261);
    text-align: center;
    font-size: 2rem;
    padding: .3rem;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.611);
}

.calculadora__titulo{
    font-family: "calculadora", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
    background-color: black;
    padding: 15px 5px 5px 5px;
    border-radius: 8px;
    width: 25vw;
    height: 50vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tela{
    grid-column: 1 / 5;
    background-color: white;
    font-family: "calculadora";
    font-size: 1.6rem;
    font-weight: bolder;
    height: 1.6rem;
    
    
}

.tecla:hover{
    cursor: pointer;
}

.igual{
    grid-row: 5 / 7;  
    grid-column: 4 / 4;
}

.zero{
    grid-column: 1 / 3;
}

div{
    padding-top: 1.3vh;
    text-align: center;
    background-color: dimgray;
    border-radius: 4px;
}
div:active{
    background-color: darkorange;
}



@media screen and (max-width: 668px) {
    
    .container{
    
        width: 65vw;
    
    }

    div{
        font-size: 2rem;
    }

    .container{
        grid-gap: 6px;
    }

    .tela{
        font-size: 2.6rem;
        height: 2.6rem;

    }
        

    

}

